.banner {
    width: 100%;
    height: 22rem;
    display: flex;
}

.banner-img {
    position: relative;
    width: 100%;
}

.banner-escritas {
    box-sizing: border-box;
    color: white;
    position: absolute;
    height: 22rem;
    margin-left: 9.5rem;
}

.banner-titulo {
    font-weight: 700;
    font-size: 52px;
    margin-top: 9.5rem;
    margin-bottom: 1rem;
}

.banner-promocao {
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 2rem;
}

.banner-botao {
    transition: .5s;
}

.banner-botao:hover {
    background-color: #5f9be9;
}