.descricao {
    display: flex;
    align-items: center;
    padding: 64px 152px;
}

.descricao-descricao {
    margin-left: 1rem;
}

.descricao-titulo {
    font-size: 52px;
    font-weight: 500;
    color: #464646;
}