@media screen and (max-width: 768px) {
    .produtos-primeiraRow, .produtos-segundaRow, .produtos-terceiraRow {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        column-gap: 1%;
        margin-bottom: 64px;
        overflow: hidden;
    }
    .header {
        margin: 0 0rem;
        padding: 0 1rem;
        height: 3.6rem;
    }
    .header-searchBar {
        max-width: 20rem;
        min-width: 3rem;
    }
    .header-searchBar--container {
        min-width: 50px;
    }
    .header-login {
        padding: 12px 50px;
        font-size: 14px;
    }
    .header-logo--img {
        height: 28px;
        width: 100px;
    }
    .banner-escritas {
        margin-left: 0rem;
        padding-left: 1rem;
    }
    .produtos-container {
        padding: 2rem 1rem;
    }
    .produto {
        max-width: 200px;
    }
    .footer-container {
        padding: 2rem 1rem;
    }
    .footer-alurageek-escritas-container {
        display: flex;
        flex-direction: column;
    }
    .footer-escritas {
        flex-grow: 1;
    }
    .rodape-contato {
        height: 57px;
    }
    
    /* ADICIONAR PRODUTO PAGE */

    .form {
        max-width: calc(768px - 2rem);
    }
    .image-input-container {
        justify-content: space-between;
    }
    .drag-area {
       max-width: 283px;
    }
    .main-form {
        padding: 1rem 1rem;
    }
    #escolher-img {
        max-width: 283px;
    }
    .form-titulo {
        font-size: 22px;
    }
    .form-div {
        max-width: calc(768px - 2rem);
    }
    .form-select {
        max-width: calc(768px - 2rem);
    }
    .form-button {
        max-width: calc(768px - 2rem);
    }

    /* DESCRIÇÃO PRODUTOS PAGE */

    .descricao {
        padding: 2rem 1rem;
    }
    .descricao-imagem {
        max-width: 254px;
        max-height: 157px;
    }
    .descricao-titulo {
        font-size: 22px;
    }
    .produtos {
        padding-bottom: 2rem;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
    }

    /* LOGIN PAGE */

    .login-form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .login-entrar {
        font-size: 14px;
        max-width: 109px;
    }

    /* TODOS PRODUTOS PAGE */

    .titulo {
        font-size: 22px;
    }
    .adicionar-btn {
        font-size: 14px;
    }
    .main-todos-produtos {
        padding-top: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media screen and (max-width: 550px) {

    /* LOGIN PAGE */

    .header-login {
        padding: 12px 25px;
    }
    .header-logo--link {
        margin-right: .5rem;
    }
    .header-searchBar {
        max-width: 20rem;
        min-width: 1rem;
    }
    .header-searchBar--container{
        max-width: 20rem;
        min-width: 1rem;
    }
    .escolher-img-label {
        display: none;
    }
    #escolher-img {
        width: 100%;
        max-width: 283px;
    }
    .image-input-container {
        justify-content: center;
    }
    .drag-area {
        width: 100%;
    }

    .footer {
        height: auto;
    }
    .footer-container {
        flex-direction: column;
    }
    .footer-alurageek-escritas-container {
        align-items: center;
    }
    .footer-escritas {
        align-items: center;
    }
    .footer-escritas--escrita {
        margin-bottom: 1rem;
    }
    .footer-inputNome--container {
        max-width: 320px;
        width: 100%;
    }
    #footer-nome--faleConosco {
        max-width: 320px;
    }

    /* DESCRICAO PRODUTOS  */

    .descricao {
        flex-direction: column;
    }
    .descricao-imagem {
        margin-bottom: 2rem;
    }
    .produtos {
        padding-bottom: 1rem;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        column-gap: 2%;
    }
    .produto {
        margin-bottom: 1rem;
    }

    /* EDITAR PRODUTOS  */

    .drag-area {
        display: flex;
        justify-content: center;
    }

    
}