body {
    font-family: 'Raleway', sans-serif;
}

main {
    background-color: #E5E5E5;
}

.botao {
    text-decoration: none;
    color: white;
    margin-bottom: 3rem;
    background-color: #2A7AE4;
    padding: 1rem;
    border: none;
    cursor: pointer;
}

.hide {
    display: none;
    visibility: hidden;
}
